doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(
      rel="icon" 
      href="./assets/img/icons/favicon.png",
      type="image/x-icon")
    link(
      href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext", 
      rel="stylesheet")
    meta(
      name="viewport", 
      content="width=device-width, initial-scale=1.0")
    meta(
      http-equiv="X-UA-Compatible", 
      content="ie=edge")
    meta(
      name='description' 
      content="Сайт проектного бюро Bureau21")
    title Bureau21
  body.body
    div.wrapper
      header.header.hidden__md
        h1.logo 
          img(src="/assets/img/logo-small.svg", alt="logo")
        .burger.hidden__md
          input#menu-switch(type="checkbox")
          nav#navigation
            .logo__part
              img(src="/assets/img/logo-part-bottom.svg", alt="logo")
            ul.list
              li.item
                a.link(href="") о бюро
              li.item
                a.link(href="") контакты
              li.item
                a.link(href="") События
              li.item
                a.link(href="") партнеры
              li.item
                a.link(href="")
                  span.special Онлайн-галерея
                  br
                  | Штефана Шпихера
      include ../includes/module/sidebar
      block content
        p hello
      include ../includes/module/footer